<%= simple_form_for @vin do |form| %>
  <% if @vin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vin.errors.count, "error") %> prohibited this @vin from being saved:</h2>

      <ul>
      <% @vin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :vin_name %>
  </div>
  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :klaas, id: :vin_type %>
  </div>

  <div class="field">
      <%= dynamic_attribute_inputs(form, @vin) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
