<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vins.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.age %></td>
        <td>Type: <%= contact.klaas %></td>
        <td><%= link_to 'Show', instance_path(contact) %></td>
        <td><%= link_to 'Edit', edit_instance_path(contact)%></td>
        <td><%= link_to 'Destroy', Rails.application.routes.url_helpers.send("#{contact.klaas.downcase}_path", contact), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
